* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {

    background-color: #504e4e;
    position: relative;
    }

form {

    background-color: #dbcdb274;
    margin: 10rem auto;
    text-align: center;
    border-radius: 10px;
    padding: 2rem;
    width: 20rem;
    height: 25rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-direction: column;
    box-shadow: .2rem .2rem #3736367c;

}

#logbg {
    width: 40rem;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    margin: auto;
    position: absolute;
    z-index: -1;
}

.container {

    background-color: none;
}

input {

    margin-bottom: .5rem;
    border-radius: 5px;
    border: none;
    font-size: .7rem;
    overflow: hidden;
    height: 2rem;
    width: 15rem;
    outline: none;
    padding: .5rem;
    box-shadow: .2rem .2rem #504e4e7c;

}

button {

    outline: none;
    background-color: #5d5b5b;
    color: white;
    border: none;
    border-radius: 2px;
    width: 3rem;
    height: 1.5rem;
    font-size: .7rem;
    box-shadow: .1rem .1rem #504e4e7c;

}

#logo {

    width: 5rem;

}
