

/* colors lang baguhin dito since ung ibang style asa admin.log.css na */

body {

    background-color: #a76e3b;

    }

form {

    background-color: #dbcdb274;
    box-shadow: .2rem .2rem #7f542e;
}



button {
    background-color: #5d5b5b;
    color: white;

}

